* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
}

header {
    box-shadow: 0 0 2rem -1rem rgba(0,0,0,.5);
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 1rem;
}

main {
    padding: 5rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokemon-image img {
    max-width: 50%;
}

.pokemon-image {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000%;
}

.dataPokemon {
    max-width: 100%;
}

p {
    font-weight: bold;
}

.pokemon {
    width: 100%;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.pokemon {
    background-color: white;
    border-radius: 100vmax;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,.25);
    padding-block: 1rem;
    text-transform: uppercase;
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    margin: auto;
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .95rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-nombre {
    margin: auto;
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .95rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .95rem;
}

.modalContainer {
    display: flex;
    flex-direction: row;
}

.modalContainer > img {
    width: 30%;
    margin: 5%;
}

.modalContainer > span {
    margin-left: 20%;
}

.modalInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.containerModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.containerModal .contentModal {
    background-color: #f0f0f0;
    margin: auto;
    padding: 25px;
    border: 1px solid #636460;
    margin-top: 10%;
    width: 50%;
    height: 60%;
}

.containerModal .closeModal {
    color: rgb(192, 40, 40);
    float: right;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.containerModal .closeModal.focus {
    color: #0000;
    text-decoration: none;
    cursor: pointer;
}


